:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Dancing Script', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
/* Responsive */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2 {
    padding-right: 5px;
    padding-left: 5px;
    width: calc(100% / 6);
}
.grid__column-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: calc(500% / 6);
}
.grid__column-2-10 {
    padding-right: 5px;
    padding-left: 5px;
    width: 20%;
}
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.appear {
    transition: opacity 2s;
    opacity: 1!important;
}
.disappear {
    transition: opacity 1s;
    opacity: 0!important;
}
.delete {
    display: none;
}
.return {
    display: block!important;
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes heartbeat {
    0% {
        transform: translate(-50%, -50%)scale(1);
    }
    50% {
        transform: translate(-50%,-50%)scale(1.25);
    }
    100% {
        transform: translate(-50%,-50%)scale(1);
    }
}
@keyframes rotate1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(30deg);
    }
}
@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-30deg);
    }
}